
ASPNETCORE_ENVIRONMENT=Development

KeyVaultUri=KEY_VAULT_URL

Saml2__SigningCertificate=SAML2_SIGNING_CERTIFICATE_BASE64
Saml2__SigningCertificatePassword=SAML2_SIGNING_CERTIFICATE_PASSWORD

ConnectionStrings__AzureSql=AZURE_SQL_CONNECTION_STRING

