<div
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    text-align: center;
    padding: 24px;
  "
>
  <h1 class="bmb_text-display-large">404</h1>
  <h2 class="bmb_text-title-large" style="margin-top: 16px">
    Página no encontrada
  </h2>
  <p class="bmb_text-body-large" style="margin-top: 8px">
    Lo sentimos, pero la página que estás buscando no existe.
  </p>
  <a routerLink="/" bmbButton appearance="primary" style="margin-top: 24px"
    >Volver a la página principal</a
  >
</div>
